* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html, #app {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}


body {
  background-color: black;
  background-image: radial-gradient(
          rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100%;
  min-height: 100%;
  margin: 0;
  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  overflow-y: auto;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
          0deg,
          rgba(black, 0.15),
          rgba(black, 0.15) 1px,
          transparent 1px,
          transparent 2px
  );
  pointer-events: none;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
  white-space: pre-wrap;

}

#app {
 height: 100%;
  }
.prompt {
display: flex;
  gap: 1rem;

}
input {
  background-color: transparent;
  border: transparent;

  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
input:focus {
  background: transparent;
  border: transparent;
  outline: none;
}
#app {
  padding: 1rem 1rem 1rem 1rem;
}